<h1>Liste de mes commandes</h1>
<table>
	<tr>
		<th>Date de la commande</th>
		<th>Nombre d'articles achetés</th>
	</tr>
	<% @orders.each do |order| %>
	<tr>
		<td><%= order.created_at %></td>
		<td><%= order.products.length %></td>
		
		
	</tr>
	<% end %>
</table>
