<h1>Liste de mes achats</h1>

	<table>
	<tr>
		<th>Titre de la photo</th>
		<th>Description</th>
		<th>Prix</th>
	</tr>
	<% @orders.each do |order| %>
		<% @products = order.products %>
	  	<% @products.each do |product| %>
		<tr>
			<td><%= product.title %></td>
			<td><%= product.description %></td>
			<td><%= product.price %></td>
			<td><%= product.image_url %></td>		
		</tr>
		<% end %>  
	<% end %>
	</table>

