<h1>Détails de la photo achetée :</h1>
<p>Nom de la photo : <%= @product.title %> </p>
<p>Description de la photo : <%= @product.description %></p>
<p>Lien de la photo : <%= @product.image_url %></p>
