<!--footer start-->
<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-3 margin-b-30">
                             <h3>A propos de nous</h3>
                             <p>
                                 Nous sommes une jeune pousse dans le commerce animalier et nous sortons tous d'une formation des familles: The Hacking Project!
                             </p>
                             <ul class="list-inline social-footer">
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Youtube"><i class="fa fa-youtube-play"></i></a></li>
                                 <li><a href="#" data-toggle="tooltip" data-placement="top" data-title="Rss feeds"><i class="fa fa-rss"></i></a></li>
                             </ul>
                         </div>


                         <div class="col-md-3 margin-b-30">
                             <h3>Contactez-nous</h3>
                             <div class="media">
                                 <div class="media-left">
                                     <i class="fa fa-phone"></i>
                                 </div>
                                 <div class="media-body">
                                     <h4 class="media-heading">+33 06 89 54 32 18</h4>
                                 </div>
                             </div>
                             <div class="media">
                                 <div class="media-left">
                                     <i class="fa fa-envelope"></i>
                                 </div>
                                 <div class="media-body">
                                     <h4 class="media-heading">chatons@minou.com</h4>
                                 </div>
                             </div>
                             <div class="media">
                                 <div class="media-left">
                                     <i class="fa fa-home"></i>
                                 </div>
                                 <div class="media-body">
                                     <h4 class="media-heading">Rue des serruriers,Strasbourg</h4>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </footer>
             <div class="footer-bottom">
                 <div class="container text-center">
                     <h3>Chat Paradise</h3>
                     <ul class="list-inline">
                         <li><a href="#">A propos</a></li>
                         <li><a href="#">Contact</a></li>
                         <li><a href="#">Nouveautés</a></li>
                     </ul>
                      &copy; Copyright 2018, Chat Paradise</span>
                 </div>
             </div>
             <!--footer end-->
